﻿@model IEnumerable<TodoList.MVC.Models.TodoViewModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsDone)
            {
                <tr style="background-color: lightgray">
                    @Html.Partial("TodoItem", item)
                </tr>
            }
            else
            {
                <tr>
                    @Html.Partial("TodoItem", item)
                </tr>
            }
        }
    </tbody>
</table>
