﻿@model TodoList.MVC.Models.TodoViewModel;

<td>
    @Html.DisplayFor(modelItem => Model.Task)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.DueDate)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.IsDone)
</td>
<td>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</td>